app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/linuxserver/sabnzbd
            tag: latest
          env:
            TZ: Europe/Amsterdam
            PUID: "1000"
            PGID: "1000"

  service:
    main:
      controller: main
      type: LoadBalancer
      ports:
        http:
          port: 8181
          targetPort: 8080

  persistence:
    config:
      enabled: true
      type: persistentVolumeClaim
      storageClass: local-path
      accessMode: ReadWriteOnce
      size: 5Gi
      retain: true
    media:
      enabled: true
      type: hostPath
      hostPath: /mnt/c/Dev/temp
      globalMounts:
        - path: /media
